.footer-text{
    text-align: center;
}

.footer-container{
    background-color: #0D6EFD;
    color: whitesmoke;
    padding: 20px 20px;
}

.footer-icon{
    margin-right: 1.5em;
    margin-left: 1.5em;
    
}