.hero-country-page-container{
    height: 40vh;
    background-image: url('/src/assets/country-page-header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
