.hero-container {
  height: 60vh;
  background-image: url("/src/assets/background-hero.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-links {
  margin-right: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #0b5ed7;
  color: #fff;
  border-radius: 7px;
}
.navbar-dark .navbar-nav .nav-link:active {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

.nav-container {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
}

.toggle-button {
  border-color: #ebebeb;
}

.hero-text {
  text-align: center;
  margin-top: 7em;
  margin-bottom: 1em;
}
.hero-text p {
  margin-top: 1.6em;
}

.footer-text {
  text-align: center;
}

.footer-container {
  background-color: #0D6EFD;
  color: whitesmoke;
  padding: 20px 20px;
}

.footer-icon {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.not-found {
  height: 50vh;
  text-align: center;
  margin-top: 10%;
}

.button-card a:hover {
  color: whitesmoke !important;
}

.button-card a {
  padding: 20px 60px;
}

.card-container {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.table-container {
  min-height: 70vh;
}

td {
  vertical-align: middle;
  text-align: center;
}
td img {
  width: 35%;
}

th {
  text-align: center;
}

.heart-add {
  color: #f80f0f;
  transition: all 0.2s ease-in-out;
}

.heart-add:hover {
  transform: scale(1.2);
  color: whitesmoke !important;
}

.cell-flag {
  width: 20em;
}

.cell-fav {
  width: 10em;
}

.cart-container {
  min-height: 95vh;
}

.cart-table {
  margin-top: 6rem;
}